
body {
	font-size: 16px;
	font-family: "微軟正黑體";
	background: rgb(235,195,121);
}

.wrapper {
	width: 952px;
	margin: 0 auto;
	background: rgb(255,240,201);
}

.wrapper::after {
	content: '';
	display: block;
	clear: both;
}

/* =============================================================================
 * = Header
 * ========================================================================== */
.header {
	height: 60px;
}

.header img {
	width: 100%;
	height: 100%;
}

/* =============================================================================
 * = Nav
 * ========================================================================== */
ul.nav {
	overflow: auto;
}

.topnav {
	font-size: 26px;
	text-align: center;
}

ul.nav li {
	box-sizing: border-box;
	float: left;
	width: 20%;
	padding: 6px 8px;
	background: rgb(251,212,180);
	border: 1px solid #000;
	color: #000;
	font-weight: bold;
}

ul.topnav li:not(:first-child) {
	border-left-width: 0;
}

ul.nav li:hover {
	background: rgb(251,232,210);
}

ul.nav a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
	width: 100%;
	height: 100%;
}

.main {
	box-sizing: border-box;
	float: left;
	width: 78%;
	padding-right: 5px;
}

/* =============================================================================
 * = side
 * ========================================================================== */
.side {
	float: right;
	width: 20%;
	padding: 4px 0px 0px 0px;
}

.side-figure {
	padding: 0px 8px;
}

.side-figure img {
	width: 100%;
}

ul.side-nav {
	margin: 4px 0;
}

ul.side-nav li {
	float: none;
	width: 100%;
}

ul.side-nav li:not(:first-child) {
	margin-top: -1px;
}

.side-block {
	margin: 20px 2px;
	color: rgb(51, 51, 255);
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

.side-block img {
	max-width: 100%;
	max-height: 100%;
}

.side-block p {
	text-align: left;
}

/* =============================================================================
 * = footer
 * ========================================================================== */

.footer {
	overflow: auto;
	width: 100%;
	margin: 4px 0 8px;
}

.footer .topnav {
	font-size: 12px;
}

.footer-main {
	float: left;
	width: 70%;
	font-size: 13px;
	text-align: center;
}

.footer-side {
	float: right;
	width: 30%;
	text-align: center;
	vertical-align: middle;
}

.counter {
	display: inline-block;
	width: 175px;
	height: 26px;
	margin: 24px auto;
}

.counter span {
	float: left;
}

.counter img {
	width: 115px;
	height: 22px;
}
